<!-- <div class="header"> -->
    <!-- <button *ngIf="user" (click)="goToHome()">Home</button> -->
    <!-- <button *ngIf="user" (click)="goToProfile()">Option1</button> -->
    <!-- <button *ngIf="user" style="margin-right: 10px;" (click)="goToMatches()">Option2</button> -->
    <!-- <button *ngIf="user" style="margin-right: 10px;" (click)="goToAdmin()">Option3</button> -->
    <!-- <button *ngIf="user" (click)="logout()">Logout</button> -->
    <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
<!-- </div> -->



<mat-toolbar class="lite-blue">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>NPCI Wholesale</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>